/*
 * This file is the manual overrides for the datatables default styles
 */

table.dataTable tbody tr {
     background-color: #2E302D;
}

.table-striped>tbody>tr:nth-of-type(odd) {
     background-color: #292929;
}

td,th {
     color: rgb(255,153,51);
}

.dataTables_wrapper .dataTables_paginate .paginate_button  {
     color: rgb(255,153,51) !important;
}

.dataTables_info {
     color: rgb(255,153,51) !important;
}