/*
 * This file is the manual overrides for the datatables default styles
 */

table.dataTable tbody tr {
    background-color: transparent;
}
.dataTables_filter {
    padding-right: 50px;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: rgb(255,153,51);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: rgb(255,153,51) !important;
}
.dataTables_paginate {
    padding-right: 50px;
}
.dataTables_wrapper {
    position: static;
}
