html {
    background-color: #2E302D;
}

body {
    font-family: "Lato", sans-serif;
    color: rgb(255,153,51);
    height: 930px;
    padding-left: 50px;
    padding-right: 50px;
    background-repeat: no-repeat;
    background-position: right;
    background-position: top;
    background-color: #2E302D;
    font-family: 'Roboto Condensed', sans-serif;
	padding-top: 210px;
}


iframe{
	width: 100%;
	height: 475px;
}



hr{
    border-color: rgb(255,153,51);
    border-bottom-width: 10px;
    background-color: rgb(34, 36, 33);
	margin: 0px; 
    
}

.rect {
    height: 100%;
    width: 3%;
    background-color: rgb(255,153,51);
    float: right;
    position: absolute;right: 0;top: 0;
	position:fixed;
    
        
}

.hrfoot1{
    border-color: #292b28;
	width: 103%;
    
}
.hrfoot2{
    border-color: rgb(34, 36, 33);
    width: 103%;
}

.header {
    background-color: rgb(34, 36, 33);
    color: rgb(255,153,51);
    padding-top: 50px;
    padding-right:;
	position: fixed;
	width: 93.9%;
	top: -20px;
	height: 221px;
    
}

.header img {
    width: 179px;
    float: left;
    padding-left: 1.9%;
}
.menubutton {
	position: fixed;
	width: 93%;
	top: 200px;
	padding-left: 1.9%;
	background-color: rgb(34, 36, 33);
	max-width: 89.5%;
	
	
}



.menubutton a {
    text-decoration: none;
    float: right;
    color: rgb(51,153,255);
    font-family: "Lato", sans-serif;
    font-size: 30px;
}

.title {
    float: left;
    padding-top: 99px;
    padding-left: 30px;
    
}

footer {
    color: #FF9933;
    padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	background-image: url(/assets/givingtnt/footer.svg);
	background-repeat: no-repeat;
	width: 99%;
}

footer div {
}




.main {
    
    color: rgb(255,153,51);
    padding-bottom: 2%;
    padding-left: 1.7%;
    padding-top: 1%;
    background-color: rgb(34, 36, 33); 
	width: 100%;
}

.main img {
    width: 41%;
    border-style: solid;
    border-color: rgb(255,153,51);    
}

.footertext {
	position:fixed;
	width: 98%;
	top: 910px;
}

.text {
    float:right;
    width: 54.4%;
    padding-left: 1.5%;
    padding-right: 2.5%;
    padding-bottom: 0;
    line-height: 110%;
	font-size: 17px;
	
}

.footerimg {
	text-decoration: none;
    text-align: center;
	position: relative ;
    top: -23px; 
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image:url(/assets/givingtnt/navrect.svg);
	background-repeat: no-repeat;
    overflow-x: hidden;
    transition: 0.25s;
    padding-top: 60px;   
    font-family: 'Roboto Condensed', sans-serif;
    color: 	rgb(255, 154, 42);
    overflow:hidden;
	
}

footer a {
    text-decoration: none;
    color: rgb(51,153,255);
    font-family: "Lato", sans-serif;    
}
    
.sidenav h1{
    padding: 34.9px 8px 5px 32px;
    text-decoration:none;
    font-size: 55px;
    color: #FFD178;
    display: block;
    transition: 0.25s;
   
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFD178;
    display: block;
    transition: 0.25s;
    
}
.sidenav hr{
    border: none;
    background-color: rgb(255,153,51);
    color: rgb(255,153,51);
    height: 11px;
	
}
.headerhr{
    border: none;
    background-color: rgb(255,153,51);
    color: rgb(255,153,51);
    height: 11px;
	position: fixed;
	top: 240px; left: 88px;
	width: 100%;	
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    transition: 0.2s;
    text-decoration: underline;
   
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.text p a{
    text-decoration: none;
    color: rgb(51,153,255);
    
}

footer div p{
  	padding-top: 0px;
	position: relative;
}

footer div img{
  	height: 70px;
	padding-left: 60px;
	padding-right:60px;
	
}
    	 
.footertext div{
    display: inline-block;
    width: 24%;
    text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}